In [1]:
import pandas as pd 
import pyodbc
import warnings
warnings.simplefilter('ignore')
import sqlite3

Connection with Outdoors

In [2]:

DB = {
    'servername': 'tcp:dwhunitedoutdoors.database.windows.net,1433',
    'database': 'DWH_United_Outdoors',
    'username': 'onderzoeker',
    'password': 'Wachtwoord1.' 
}

conn_str = (
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=' + DB['servername'] + ';'
    'DATABASE=' + DB['database'] + ';'
    'UID=' + DB['username'] + ';'
    'PWD=' + DB['password'] + ';'
    'Encrypt=yes;'
    'TrustServerCertificate=no;'
    'Connection Timeout=30;'
)

export_conn = pyodbc.connect(conn_str)
export_cursor = export_conn.cursor()
export_cursor

In [14]:
DB_AW = {'servername': 'TROYK\\SQLEXPRESS',
'database': 'AdventureWorks2019'}

DB_AW_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB_AW['servername'] +
                              ';DATABASE=' + DB_AW['database'] + ';Trusted_Connection=yes')

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot open database "AdventureWorks2019" requested by the login. The login failed. (4060) (SQLDriverConnect); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Cannot open database "AdventureWorks2019" requested by the login. The login failed. (4060)')

Connection with northwind

In [6]:
DB = {'servername': 'TROYK\SQLEXPRESS',
'database': 'Northwind'}

DB_NW_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')
export_cursor = export_conn.cursor()
export_cursor

Customer table in dataframe van northwind

In [7]:
query_customers = "SELECT * FROM Customers"

# Execute the query and load data into a Pandas DataFrame
customers_df = pd.read_sql(query_customers, DB_NW_conn)

# Close the database connection

# Now you have the Customers table in a Pandas DataFrame
print(customers_df.head())  # Display the first few rows to verify

  CustomerID                         CompanyName         ContactName  \
0      ALFKI                 Alfreds Futterkiste        Maria Anders
1      ANATR  Ana Trujillo Emparedados y helados        Ana Trujillo
2      ANTON             Antonio Moreno Taquería      Antonio Moreno
3      AROUT                     Around the Horn        Thomas Hardy
4      BERGS                  Berglunds snabbköp  Christina Berglund

           ContactTitle                        Address         City Region  \
0  Sales Representative                  Obere Str. 57       Berlin   None
1                 Owner  Avda. de la Constitución 2222  México D.F.   None
2                 Owner                Mataderos  2312  México D.F.   None
3  Sales Representative                120 Hanover Sq.       London   None
4   Order Administrator                Berguvsvägen  8        Luleå   None

  PostalCode  Country           Phone             Fax
0      12209  Germany     030-0074321     030-0076545
1      05021   Mexico    (5) 555-4729    (5) 555-3745
2      05023   Mexico    (5) 555-3932            None
3    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4   S-958 22   Sweden   0921-12 34 65   0921-12 34 67

Product table van AW in dataframe

In [8]:
query_product = "SELECT * FROM Production.Product"

# Execute the query and load data into a Pandas DataFrame
product_df = pd.read_sql(query_product, DB_AW_conn)

# Close the database connection

# Now you have the Product table in a Pandas DataFrame
product_df

NameError: name 'DB_AW_conn' is not defined

Product table van NW in dataframe

In [7]:
queryProductss = "SELECT * FROM Products"

# Execute the query and load data into a Pandas DataFrame
Productss_df = pd.read_sql(queryProductss, DB_NW_conn)

# Close the database connection

# Now you have the Customers table in a Pandas DataFrame
# print(Productss_df.head())  # Display the first few rows to verify
Productss_df

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,False
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,False
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,False
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,False
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,True
...,...,...,...,...,...,...,...,...,...,...
72,73,Röd Kaviar,17,8,24 - 150 g jars,15.00,101,0,5,False
73,74,Longlife Tofu,4,7,5 kg pkg.,10.00,4,20,5,False
74,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75,125,0,25,False
75,76,Lakkalikööri,23,1,500 ml,18.00,57,0,20,False
76,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00,32,0,15,False

Product table van AENC

Merge Product

In [8]:




product_df['ProductID'] += Productss_df['ProductID'].max() + 1

# Merge the DataFrames into one combined DataFrame
combined_product_df = pd.concat([product_df, Productss_df], ignore_index=True)

combined_product_df

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ModifiedDate,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,79,Adjustable Race,AR-5381,False,False,None,1000.0,750.0,0.0,0.0,...,2014-02-08 10:01:36.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,80,Bearing Ball,BA-8327,False,False,None,1000.0,750.0,0.0,0.0,...,2014-02-08 10:01:36.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,81,BB Ball Bearing,BE-2349,True,False,None,800.0,600.0,0.0,0.0,...,2014-02-08 10:01:36.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,82,Headset Ball Bearings,BE-2908,False,False,None,800.0,600.0,0.0,0.0,...,2014-02-08 10:01:36.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,394,Blade,BL-2036,True,False,None,800.0,600.0,0.0,0.0,...,2014-02-08 10:01:36.827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,Röd Kaviar,17.0,8.0,24 - 150 g jars,15.00,101.0,0.0,5.0,False
577,74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,Longlife Tofu,4.0,7.0,5 kg pkg.,10.00,4.0,20.0,5.0,False
578,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,Rhönbräu Klosterbier,12.0,1.0,24 - 0.5 l bottles,7.75,125.0,0.0,25.0,False
579,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,Lakkalikööri,23.0,1.0,500 ml,18.00,57.0,0.0,20.0,False
580,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,Original Frankfurter grüne Soße,12.0,2.0,12 boxes,13.00,32.0,0.0,15.0,False

import PRODUCT INTO DATAWAREHOUSE

In [9]:


def insert_into_combined_product(combined_product_df, export_conn):
    try:
        export_cursor = export_conn.cursor()

        # Create the Combined_Product table if it does not exist
        create_table_query = """
        IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Combined_Product' AND xtype='U')
        CREATE TABLE Combined_Product (
            ProductID INT,
            Name NVARCHAR(255),
            ProductNumber NVARCHAR(25),
            MakeFlag BIT,
            FinishedGoodsFlag BIT,
            Color NVARCHAR(15),
            SafetyStockLevel SMALLINT,
            ReorderPoint SMALLINT,
            StandardCost DECIMAL(19, 4),
            ListPrice DECIMAL(19, 4),
            ModifiedDate DATETIME,
            ProductName NVARCHAR(255),
            SupplierID INT,
            CategoryID INT,
            QuantityPerUnit NVARCHAR(50),
            UnitPrice DECIMAL(19, 4),
            UnitsInStock SMALLINT,
            UnitsOnOrder SMALLINT,
            ReorderLevel SMALLINT,
            Discontinued BIT
        )
        """
        export_cursor.execute(create_table_query)

        # Insert rows into the Combined_Product table
        for index, row in combined_product_df.iterrows():
            try:
                query = f"""
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    {row['ProductID'] if row['ProductID'] is not None else 'NULL'},
                    '{str(row['Name']).replace("'", "''") if row['Name'] is not None else 'NULL'}',
                    '{str(row['ProductNumber']).replace("'", "''") if row['ProductNumber'] is not None else 'NULL'}',
                    {1 if row['MakeFlag'] else 0},
                    {1 if row['FinishedGoodsFlag'] else 0},
                    '{str(row['Color']).replace("'", "''") if row['Color'] is not None else 'NULL'}',
                    {row['SafetyStockLevel'] if row['SafetyStockLevel'] is not None else 'NULL'},
                    {row['ReorderPoint'] if row['ReorderPoint'] is not None else 'NULL'},
                    {row['StandardCost'] if row['StandardCost'] is not None else 'NULL'},
                    {row['ListPrice'] if row['ListPrice'] is not None else 'NULL'},
                    '{row['ModifiedDate']}' if row['ModifiedDate'] is not None else 'NULL',
                    '{str(row['ProductName']).replace("'", "''") if row['ProductName'] is not None else 'NULL'}',
                    {row['SupplierID'] if row['SupplierID'] is not None else 'NULL'},
                    {row['CategoryID'] if row['CategoryID'] is not None else 'NULL'},
                    '{str(row['QuantityPerUnit']).replace("'", "''") if row['QuantityPerUnit'] is not None else 'NULL'}',
                    {row['UnitPrice'] if row['UnitPrice'] is not None else 'NULL'},
                    {row['UnitsInStock'] if row['UnitsInStock'] is not None else 'NULL'},
                    {row['UnitsOnOrder'] if row['UnitsOnOrder'] is not None else 'NULL'},
                    {row['ReorderLevel'] if row['ReorderLevel'] is not None else 'NULL'},
                    {1 if row['Discontinued'] else 0}
                )
                """
                export_cursor.execute(query)
            except pyodbc.Error as e:
                print("Error:", e)
                print("Query:", query)

        export_conn.commit()
    except pyodbc.Error as e:
        print("Error:", e)
    finally:
        export_cursor.close()

insert_into_combined_product(combined_product_df,export_conn)

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    79,
                    'Adjustable Race',
                    'AR-5381',
                    0,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    80,
                    'Bearing Ball',
                    'BA-8327',
                    0,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    81,
                    'BB Ball Bearing',
                    'BE-2349',
                    1,
                    0,
                    'NULL',
                    800.0,
                    600.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    82,
                    'Headset Ball Bearings',
                    'BE-2908',
                    0,
                    0,
                    'NULL',
                    800.0,
                    600.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    394,
                    'Blade',
                    'BL-2036',
                    1,
                    0,
                    'NULL',
                    800.0,
                    600.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    395,
                    'LL Crankarm',
                    'CA-5965',
                    0,
                    0,
                    'Black',
                    500.0,
                    375.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    396,
                    'ML Crankarm',
                    'CA-6738',
                    0,
                    0,
                    'Black',
                    500.0,
                    375.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    397,
                    'HL Crankarm',
                    'CA-7457',
                    0,
                    0,
                    'Black',
                    500.0,
                    375.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    398,
                    'Chainring Bolts',
                    'CB-2903',
                    0,
                    0,
                    'Silver',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    399,
                    'Chainring Nut',
                    'CN-6137',
                    0,
                    0,
                    'Silver',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    400,
                    'Chainring',
                    'CR-7833',
                    0,
                    0,
                    'Black',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    401,
                    'Crown Race',
                    'CR-9981',
                    0,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    402,
                    'Chain Stays',
                    'CS-2812',
                    1,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    403,
                    'Decal 1',
                    'DC-8732',
                    0,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    404,
                    'Decal 2',
                    'DC-9824',
                    0,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    405,
                    'Down Tube',
                    'DT-2377',
                    1,
                    0,
                    'NULL',
                    800.0,
                    600.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1
                )

Error: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'if'. (156) (SQLExecDirectW)")
Query:
                INSERT INTO Combined_Product (
                    ProductID, Name, ProductNumber, MakeFlag, FinishedGoodsFlag, Color,
                    SafetyStockLevel, ReorderPoint, StandardCost, ListPrice, ModifiedDate,
                    ProductName, SupplierID, CategoryID, QuantityPerUnit, UnitPrice,
                    UnitsInStock, UnitsOnOrder, ReorderLevel, Discontinued
                ) VALUES (
                    406,
                    'Mountain End Caps',
                    'EC-M092',
                    1,
                    0,
                    'NULL',
                    1000.0,
                    750.0,
                    0.0,
                    0.0,
                    '2014-02-08 10:01:36.827000' if row['ModifiedDate'] is not None else 'NULL',
                    'nan',
                    nan,
                    nan,
                    'nan',
                    nan,
                    nan,
                    nan,
                    nan,
                    1

CUSTOMER TABLE FROM AW IN DATAFRAME

SAles terrirtory mergerd with customer table

In [10]:
queryCUSTOMERAW = "SELECT * FROM SALES.CUSTOMER"
queryTERITORY= "SELECT * FROM SALES.SalesTerritory"
Teritory_df= pd.read_sql(queryTERITORY,DB_AW_conn)
# Execute the query and load data into a Pandas DataFrame
CUSTOMERSAW_DF = pd.read_sql(queryCUSTOMERAW, DB_AW_conn)

# Close the database connection

# Now you have the Product table in a Pandas DataFrame
# CUSTOMERSAW_DF
# Teritory_df
merged_df = pd.merge(CUSTOMERSAW_DF, Teritory_df, on='TerritoryID', suffixes=('_Customer', '_Territory'))
merged_df

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid_Customer,ModifiedDate_Customer,Name,CountryRegionCode,Group,SalesYTD,SalesLastYear,CostYTD,CostLastYear,rowguid_Territory,ModifiedDate_Territory
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263,Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0,43689A10-E30B-497F-B0DE-11DE20267FF7,2008-04-30
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263,Northwest,US,North America,7.887187e+06,3.298694e+06,0.0,0.0,43689A10-E30B-497F-B0DE-11DE20267FF7,2008-04-30
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263,France,FR,Europe,4.772398e+06,2.396540e+06,0.0,0.0,BF806804-9B4C-4B07-9D19-706F2E689552,2008-04-30
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263,Canada,CA,North America,6.771829e+06,5.693989e+06,0.0,0.0,06B4AF8A-1639-476E-9266-110461D66B00,2008-04-30
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263,Southwest,US,North America,1.051085e+07,5.366576e+06,0.0,0.0,DC3E9EA0-7950-4431-9428-99DBCBC33865,2008-04-30
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263,Central,US,North America,3.072175e+06,3.205014e+06,0.0,0.0,DF6E7FD8-1A8D-468C-B103-ED8ADDB452C1,2008-04-30

CUSTOMER TABLE FROM NW IN DATAFRAME

In [11]:
queryCUSTOMERSNW = "SELECT * FROM Customers"

# Execute the query and load data into a Pandas DataFrame
CustomersNW_df = pd.read_sql(queryCUSTOMERSNW, DB_NW_conn)

# Close the database connection

# Now you have the Customers table in a Pandas DataFrame
# print(Productss_df.head())  # Display the first few rows to verify
CustomersNW_df

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

MERGE CUSTOMER TABLES From AW & NW

In [12]:
merged_df['CustomerID'] = merged_df['CustomerID'].astype(str)

# Convert CustomerID to string/object type in CustomersNW_df
CustomersNW_df['CustomerID'] = CustomersNW_df['CustomerID'].astype(str)
finalMergedCUstomers_df= pd.merge(merged_df, CustomersNW_df, on='CustomerID', how='left')

finalMergedCUstomers_df

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid_Customer,ModifiedDate_Customer,Name,CountryRegionCode,Group,...,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263,Northwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263,Northwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263,Southwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263,Southwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263,Southwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263,France,FR,Europe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263,Canada,CA,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263,Southwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263,Southwest,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263,Central,US,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

customer tabel in datawarehouse importeren

In [13]:


def insert_into_final_merged_customers(finalMergedCUstomers_df, export_conn):
    try:
        export_cursor = export_conn.cursor()

        # Define the CREATE TABLE query
        create_table_query = """
        IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='final_merged_customers' AND xtype='U')
        CREATE TABLE final_merged_customers (
            CustomerID VARCHAR(50),
            PersonID INT,
            StoreID INT,
            TerritoryID INT,
            AccountNumber VARCHAR(50),
            rowguid_Customer VARCHAR(50),
            ModifiedDate_Customer DATETIME,
            Name VARCHAR(255),
            CountryRegionCode VARCHAR(10),
            "Group" VARCHAR(50),
            -- Add more columns as needed
            CompanyName NVARCHAR(255),
            ContactName NVARCHAR(255),
            ContactTitle NVARCHAR(255),
            Address NVARCHAR(255),
            City NVARCHAR(255),
            Region NVARCHAR(255),
            PostalCode NVARCHAR(50),
            Country NVARCHAR(50),
            Phone NVARCHAR(50),
            Fax NVARCHAR(50)
        )
        """
        export_cursor.execute(create_table_query)
        
        # Iterate through each row in finalMergedCustomers_df and insert into the database
        for index, row in finalMergedCUstomers_df.iterrows():
            try:
                query = f"""
                INSERT INTO final_merged_customers (
                    CustomerID, PersonID, StoreID, TerritoryID, AccountNumber,
                    rowguid_Customer, ModifiedDate_Customer, Name, CountryRegionCode,
                    "Group", CompanyName, ContactName, ContactTitle, Address, City,
                    Region, PostalCode, Country, Phone, Fax
                ) 
                VALUES (
                    '{str(row['CustomerID']).replace("'", "''") if row['CustomerID'] is not None else 'NULL'}',
                    {row['PersonID'] if pd.notnull(row['PersonID']) else 'NULL'},
                    {row['StoreID'] if pd.notnull(row['StoreID']) else 'NULL'},
                    {row['TerritoryID'] if pd.notnull(row['TerritoryID']) else 'NULL'},
                    '{str(row['AccountNumber']).replace("'", "''") if row['AccountNumber'] is not None else 'NULL'}',
                    '{str(row['rowguid_Customer']).replace("'", "''") if row['rowguid_Customer'] is not None else 'NULL'}',
                    '{row['ModifiedDate_Customer'].strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(row['ModifiedDate_Customer']) else 'NULL'}',
                    '{str(row['Name']).replace("'", "''") if row['Name'] is not None else 'NULL'}',
                    '{str(row['CountryRegionCode']).replace("'", "''") if row['CountryRegionCode'] is not None else 'NULL'}',
                    '{str(row['Group']).replace("'", "''") if row['Group'] is not None else 'NULL'}',
                    '{str(row['CompanyName']).replace("'", "''") if row['CompanyName'] is not None else 'NULL'}',
                    '{str(row['ContactName']).replace("'", "''") if row['ContactName'] is not None else 'NULL'}',
                    '{str(row['ContactTitle']).replace("'", "''") if row['ContactTitle'] is not None else 'NULL'}',
                    '{str(row['Address']).replace("'", "''") if row['Address'] is not None else 'NULL'}',
                    '{str(row['City']).replace("'", "''") if row['City'] is not None else 'NULL'}',
                    '{str(row['Region']).replace("'", "''") if row['Region'] is not None else 'NULL'}',
                    '{str(row['PostalCode']).replace("'", "''") if row['PostalCode'] is not None else 'NULL'}',
                    '{str(row['Country']).replace("'", "''") if row['Country'] is not None else 'NULL'}',
                    '{str(row['Phone']).replace("'", "''") if row['Phone'] is not None else 'NULL'}',
                    '{str(row['Fax']).replace("'", "''") if row['Fax'] is not None else 'NULL'}'
                )
                """
                export_cursor.execute(query)
            except pyodbc.Error as e:
                print("Error:", e)
                print("Query:", query)

        export_conn.commit()
        print("Data successfully inserted into final_merged_customers table.")
    except pyodbc.Error as e:
        print("Error:", e)
    finally:
        export_cursor.close()

# Assuming finalMergedCustomers_df is already defined and export_conn is your pyodbc connection
insert_into_final_merged_customers(finalMergedCUstomers_df, export_conn)

Merge employees table with employee territories and territorie

In [13]:
queryEmployees = "SELECT * FROM Employees"

# Execute the query and load data into a Pandas DataFrame
employeesNW_df = pd.read_sql(queryEmployees, DB_NW_conn)
employeesAW_df = pd.read_sql(queryEmployees, DB_AW_conn)


queryTerritory= "SELECT * FROM EmployeeTerritories"
territoryNW_DF= pd.read_sql(queryTerritory, DB_NW_conn)

queryEndTErritory= "SELECT * FROM Territories"
FinalTerritory_df= pd.read_sql(queryEndTErritory, DB_NW_conn)


# employees_df = pd.read_sql_query("SELECT * FROM Employees", DB_NW_conn)
# employee_territories_df = pd.read_sql_query("SELECT * FROM EmployeeTerritories", DB_NW_conn)
# territories_df = pd.read_sql_query("SELECT * FROM Territories", DB_NW_conn)
employeesAW_df
# territoryNW_DF
# FinalTerritory_df
# merged_df = employeesNW_df.merge(territoryNW_DF, on='EmployeeID')
# merged_df = merged_df.merge(FinalTerritory_df, on='TerritoryID')

# merged_df

NameError: name 'DB_AW_conn' is not defined

load employee into datawarehouse

In [ ]:

def insert_into_employees_territories(merged_df, export_conn):
    try:
        export_cursor = export_conn.cursor()

        create_table_query = """
        IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Employees_Territories' AND xtype='U')
        CREATE TABLE Employees_Territories (
            EmployeeID INT,
            LastName NVARCHAR(255),
            FirstName NVARCHAR(255),
            Title NVARCHAR(255),
            TitleOfCourtesy NVARCHAR(255),
            BirthDate DATETIME,
            HireDate DATETIME,
            Address NVARCHAR(255),
            City NVARCHAR(255),
            Region NVARCHAR(255),
            PostalCode NVARCHAR(20),
            Country NVARCHAR(50),
            HomePhone NVARCHAR(25),
            Extension NVARCHAR(4),
            Photo IMAGE,
            Notes NVARCHAR(MAX),
            ReportsTo INT,
            PhotoPath NVARCHAR(255),
            TerritoryID NVARCHAR(20),
            TerritoryDescription NVARCHAR(255),
            RegionID INT
        )
        """
        export_cursor.execute(create_table_query)
        
        for index, row in merged_df.iterrows():
            try:
                query = f"""
                INSERT INTO Employees_Territories (EmployeeID, LastName, FirstName, Title, TitleOfCourtesy, BirthDate, HireDate, Address, City, Region, PostalCode, Country, HomePhone, Extension, Photo, Notes, ReportsTo, PhotoPath, TerritoryID, TerritoryDescription, RegionID)
                VALUES (
                    {row['EmployeeID'] if row['EmployeeID'] is not None else 'NULL'}, 
                    '{str(row['LastName']).replace("'", "''") if row['LastName'] is not None else 'NULL'}',
                    '{str(row['FirstName']).replace("'", "''") if row['FirstName'] is not None else 'NULL'}',
                    '{str(row['Title']).replace("'", "''") if row['Title'] is not None else 'NULL'}',
                    '{str(row['TitleOfCourtesy']).replace("'", "''") if row['TitleOfCourtesy'] is not None else 'NULL'}',
                    '{row['BirthDate']}' if row['BirthDate'] is not None else 'NULL',
                    '{row['HireDate']}' if row['HireDate'] is not None else 'NULL',
                    '{str(row['Address']).replace("'", "''") if row['Address'] is not None else 'NULL'}',
                    '{str(row['City']).replace("'", "''") if row['City'] is not None else 'NULL'}',
                    '{str(row['Region']).replace("'", "''") if row['Region'] is not None else 'NULL'}',
                    '{str(row['PostalCode']).replace("'", "''") if row['PostalCode'] is not None else 'NULL'}',
                    '{str(row['Country']).replace("'", "''") if row['Country'] is not None else 'NULL'}',
                    '{str(row['HomePhone']).replace("'", "''") if row['HomePhone'] is not None else 'NULL'}',
                    '{str(row['Extension']).replace("'", "''") if row['Extension'] is not None else 'NULL'}',
                    {row['Photo'] if row['Photo'] is not None else 'NULL'},
                    '{str(row['Notes']).replace("'", "''") if row['Notes'] is not None else 'NULL'}',
                    {row['ReportsTo'] if row['ReportsTo'] is not None else 'NULL'},
                    '{str(row['PhotoPath']).replace("'", "''") if row['PhotoPath'] is not None else 'NULL'}',
                    '{str(row['TerritoryID']).replace("'", "''") if row['TerritoryID'] is not None else 'NULL'}',
                    '{str(row['TerritoryDescription']).replace("'", "''") if row['TerritoryDescription'] is not None else 'NULL'}',
                    {row['RegionID'] if row['RegionID'] is not None else 'NULL'}
                )
                """
                export_cursor.execute(query)
            except pyodbc.Error as e:
                print("Error:", e)
                print("Query:", query)

        export_conn.commit()
    except pyodbc.Error as e:
        print("Error:", e)
    finally:
        export_cursor.close()

# Insert the merged DataFrame into the data warehouse
insert_into_employees_territories(merged_df, export_conn)

# Close the export connection

Error: Attempt to use a closed connection.

UnboundLocalError: cannot access local variable 'export_cursor' where it is not associated with a value

Person.Person and Person.adres  table from AW MERGED

In [ ]:
# QUery_Person = "SELECT * FROM Person.Person"
# Query_PERsonADdres= "SELECT * FROM Person.Address"
# PAdress_df = pd.read_sql(Query_PERsonADdres, DB_AW_conn)


# # Execute the query and load data into a Pandas DataFrame
# Person_df = pd.read_sql(QUery_Person, DB_AW_conn)

# # Close the database connection

# # Now you have the Product table in a Pandas DataFrame
# Person_df
# # PAdress_df
# # merged_df = pd.merge(Person_df, PAdress_df, on='AddressID', how='inner')